1) Write a Python program to print "Hello, World! .

In [2]:
print('Hello World')

Hello World

2) Write a Python program that displays your name and age.

In [3]:
name = "John"
age = 20

print("My name is", name)
print("I am", age, "years old")

My name is John
I am 20 years old

3)Write code to print all the pre-defined keywords in Python using the keyword library .

In [4]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

4)Write a program that checks if a given word is a Python keyword .

In [5]:
import keyword

word = input("Enter a word: ")

if keyword.iskeyword(word):
    print(word, "is a Python keyword.")
else:
    print(word, "is not a Python keyword.")

Enter a word: if
if is a Python keyword.

5) Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
for each .

In [8]:
my_list = [1, 2, 3]
print(my_list)

my_list[0] = 10
print(my_list)

my_tuple = (1, 2, 3)
print(my_tuple)

new_tuple = (10,) + my_tuple[1:]
print(new_tuple)

[1, 2, 3]
[10, 2, 3]
(1, 2, 3)
(10, 2, 3)

6)Write a function to demonstrate the behavior of mutable and immutable arguments.

In [9]:
def change(a, b):
    a = 10
    b.append(4)

x = 5
y = [1, 2, 3]

change(x, y)

print(x)
print(y)

5
[1, 2, 3, 4]

7) Write a program that performs basic arithmetic operations on two user-input numbers.

In [10]:
a = float(input())
b = float(input())

print(a + b)
print(a - b)
print(a * b)
print(a / b)

4.555
93.555
98.11000000000001
-89.0
426.143025
0.04868793757682646

8) Write a program to demonstrate the use of logical operators.

In [11]:
x = True
y = False

print(f"x and y: {x and y}")
print(f"x or y: {x or y}")
print(f"not x: {not x}")
print(f"not y: {not y}")

a = 10
b = 5

print(f"a > 5 and b < 10: {a > 5 and b < 10}")
print(f"a < 5 or b > 10: {a < 5 or b > 10}")
print(f"not (a == 10): {not (a == 10)}")

x and y: False
x or y: True
not x: False
not y: True
a > 5 and b < 10: True
a < 5 or b > 10: False
not (a == 10): False

9)Write a Python program to convert user input from string to integer, float, and boolean types.

In [14]:
x = input()

int_x = int(x)
float_x = float(x)
bool_x = bool(x)

print(int_x)
print(float_x)
print(bool_x)

5
5
5.0
True

10)Write code to demonstrate type casting with list elements.

In [16]:
my_list = ["1", "2", "3", "4"]

int_list = [int(x) for x in my_list]
float_list = [float(x) for x in my_list]

print(int_list)
print(float_list)

[1, 2, 3, 4]
[1.0, 2.0, 3.0, 4.0]

11) Write a program that checks if a number is positive, negative, or zero.

In [17]:
n = float(input())

if n > 0:
    print("Positive")
elif n < 0:
    print("Negative")
else:
    print("Zero")

-1
Negative

12) Write a for loop to print numbers from 1 to 10.

In [18]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

13)Write a Python program to find the sum of all even numbers between 1 and 50.

In [20]:
sum_even = 0

for i in range(2, 51, 2):
    sum_even += i

print(sum_even)

650

14) Write a program to reverse a string using a while loop.

In [19]:
s = input()
rev = ""
i = len(s) - 1

while i >= 0:
    rev += s[i]
    i -= 1

print(rev)

ytrewq
qwerty

15)Write a Python program to calculate the factorial of a number provided by the user using a while loop.

In [21]:
n = int(input())
fact = 1

while n > 1:
    fact *= n
    n -= 1

print(fact)

5
120